{% extends 'cursos/base.html' %}
{% comment %} PLANTILLA PARA EL CAMBIO DE CONTRASENIA CON ESTILOS PROPIOS {% endcomment %}
{% block content %}
  <h2>Cambiar contraseña</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="help-text">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="error-text">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn_editar">Cambiar contraseña</button>
  </form>
{% endblock %}