{% extends 'cursos/base.html' %}

{% comment %}  LOGIN DEL USUARIO {% endcomment %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
  <div class="login-container">
    <h2>Iniciar sesión</h2>
    <form method="post" class="login-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-login">ENTRAR</button>
    </form>
    <p class="text-center">¿No tienes cuenta? <a href="{% url 'registro_usuario' %}" class="link">Regístrate aquí</a></p>
  </div>
{% endblock %}
